body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}


section { 
    line-height: 1.5;
}

.section1 {
    background-color: silver;
    padding: 20px;
}

.section2 {
    background-color: darkgrey;
    padding: 20px;
}

.Names {
    padding: 20px;
    background-color: rgb(177, 174, 174);
}